.input, .input:focus, .input:active
  width: 100%
  padding: 10px 10px 2px 0
  border: none
  border-bottom: 1px solid gray
  outline: none
.input:focus
  border-bottom: 1px solid green
.label
  font-size: 13px
.button
  display: block
  padding: 10px
  border: 1px solid green
  background: #9ff1a0
  border-radius:  8px